@import "../../styles/index.scss";

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 429px;
    background-image: url("../../../public/Images/NeptuneBackground.png");
    width: 100vw;
    height: 100vh;
    padding-right: 153px;
    background-color: $backgroundColor;
}
.login-logo {
    display: flex;
    align-items: center;
}
.login-field {
    display: flex;
    flex-direction: column;
    background-color: $generalWhiteColor;
    border-radius: 0.75rem;
    height: 32.5625rem;
    width: 32.4375rem;
    margin-top: 18%;
    padding: 1.375rem 5.25rem;
    align-items: center;
    border-radius: 0.75rem;
    height: 32.5625rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 8%;

    .header {
        color: $fontColor;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.0175rem;
        margin-bottom: 1rem;
    }
}

.footer {
    display: flex;
    justify-content: center;
    color: $generalWhiteColor;
    margin-top: 1rem;
}
