@import "../../../styles/index.scss";

.topItems {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;

    .arrowContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 43px;
        color: #0d1740;
        font-family: "Baloo 2";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        .back {
            cursor: pointer;
        }
    }

    .date {
        display: flex;
        align-items: center;
        gap: 30px;

        .currentDate {
            color: #0d1740;
            font-family: "Baloo 2";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            .currentDateValue {
                color: #3e3e3e;
                font-family: "Baloo 2";
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}

.reportHeader {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #fff;
    color: white;
    color: black;
    margin-bottom: 40px;

    .leftSection {
        display: grid;
        grid-template-columns: (2 1fr);
        padding: 39px;
        gap: 30px;

        .bankNameCode {
            display: flex;
            gap: 50px;
            align-items: center;

            .displayTitle {
                color: #0d1740;
                font-family: "Baloo 2";
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .displayText {
                color: #3e3e3e;
                font-family: Baloo 2;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    .rightSection {
        display: grid;
        grid-template-columns: (2 1fr);
        padding: 39px;
        gap: 30px;

        .returnNameCode {
            display: flex;
            gap: 50px;
            align-items: center;

            .displayTitle {
                color: #0d1740;
                font-family: "Baloo 2";
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .displayText {
                color: #3e3e3e;
                font-family: Baloo 2;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}

.contentContainer {
    background-color: #fff;
    padding: 36px;

    .contentTopSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        .selectContainer {
            display: flex;
            padding: 10px;
            gap: 10px;
            font-family: "Baloo 2";
            align-items: center;

            label {
                color: #474747;
            }
            select {
                border: #ccc 1px solid;
                padding: 5px;
                border-radius: 3px;
                color: #130019;
                outline: none;
            }
        }

        .rightSide {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            align-items: center;

            .reportButton {
                display: flex;
                border-radius: 5px;
                padding: 8px;
                align-items: center;
                justify-content: center;
                background: #1c317e;
                color: #fff;
                font-family: "Baloo 2";
                cursor: pointer;
                font-size: 18px;
                font-style: normal;
                font-weight: 800;
                line-height: 24px;
            }
        }
    }
}
