@import "../../styles/index.scss";
.button {
    display: flex;
    border-radius: 5px;
    background: $backgroundColor;
    color: $generalWhiteColor;
    width: 432px;
    padding: 8px 32px 8px 32px;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-weight: 800;
    margin-top: 48px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    .spinner {
        animation: spin 0.5s linear infinite;

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}
.error_msg {
    color: $error;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}

.customButton {
    padding: .5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: $generalWhiteColor;
    background: $backgroundColor;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: $fontStyle;
    width: 167px;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
}
