@import "../../styles/index.scss";
.button {
    border-radius: 0.3125rem;
    background: #1c317e;
    color: #fff;
    width: 27rem;
    height: 3.125rem;
    padding: 0.875rem 2rem 0.5rem 2rem;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-weight: 800;
    margin-top: 3rem;
}
.error_msg {
    color: #ff0000;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.customButton {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: $generalWhiteColor;
    background: $backgroundColor;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Baloo 2";
    width: 167px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
}
