.button {
    border-radius: 0.3125rem;
    background: #1c317e;
    color: #fff;
    width: 27rem;
    height: 3.125rem;
    padding: 0.875rem 2rem 0.5rem 2rem;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-weight: 800;
    margin-top: 3rem;
}
.error_msg {
    color: #ff0000;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.customButton {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: #fff;
    background: #1c317e;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-left: 10.5rem;
}
