.select-container select {
    width: 144px;
    padding-left: 2px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f3;
    font-size: 14px;
    color: #333;
}
