.card-container {
    background: #dfe9ff;
    border-radius: 0.5rem;
    width: 15.875rem;
    height: 7.25rem;
    padding: 2rem;
    h3 {
      font-weight: 600;
      font-size: .9375rem;
    }
  }