@import '../../styles/index.scss';

.card-container {
    display: flex;
    flex-direction: column;
    background: $ShadowColor;
    border-radius: 0.5rem;
    width: 15.875rem;
    height: 7.25rem;
    padding: 2rem;
    font-weight: 600;
    font-size: 13px;
    gap: 10px;

    .image-title-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }
    div {
        display: flex;
        justify-content: flex-end;
    }
}
