* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

// @import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
    font-family: 'Roboto', sans-serif;}

.layout {
    display: flex;
    height: 100vh;
    position: relative;
    gap: 0rem;
    flex-direction: row;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background: #75817c;
    }

    &::-webkit-scrollbar-track {
        background: #e6e1e1;
        opacity: 0.5;
    }

    // Standard version (Firefox only for now)
    scrollbar-color: #75817c #e6e1e1;
}
