@import '../../styles/index.scss';
@import '../../page/GenerateReport/index.module.scss';
.header {
    display: flex;
    // background-color: $backgroundColor;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
    font-family: 'inter';
    margin-bottom: 10px;

    .back {
        display: flex;
        gap: 0.4rem;
        align-items: center;
        color: $backgroundColor;
        font-weight: 600;
        cursor: pointer;
    }

    .date_container {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-size: 14px;

        .title {
            color: $backgroundColor;
            font-weight: 600;
        }
        .date {
        }
    }
}

.content {
    .content_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 2;
        flex-shrink: 1;

        .search {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
    }
}
.viewButton {
    display: flex;
    background-color: $button;
    color: $fontColor;
    padding: 10px;
    border-radius: 0.3125rem;
    font-family: 'inter';
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
}
