@import '../../styles/index.scss';

.headerContainer {
    display: flex;
    justify-content: space-between;


    .timeContainer {
        display: flex;
        gap: 10px;
        margin-right: 140px;
    }
}
