@import '../../styles/index.scss';

.topNav {
    display: flex;
    justify-content: space-between;
    color: #0d1740;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: 100%;

    .timeContainer {
        display: flex;
        gap: 10px;
    }
}

//report styles...

.wrapper {
    margin-top: 0.5rem;
    background-color: $generalWhiteColor;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-bottom: 40px;
    padding: 1rem 1.5rem;

    .reportGroup {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-right: 1px solid $ShadowColor;

        .title {
            color: $fontColor;
            font-size: 14px;
            font-style: $fontStyle;
            font-weight: 600;
            line-height: normal;
        }

        .subReportContainer {
            display: flex;
            gap: 41px;
            padding-right: 50px;
        }
    }

    .selectDate {
        display: flex;
        flex-direction: column;
        border-right: 1px solid $ShadowColor;
        padding: 0 1rem;
        align-self: flex-start;
        height: 100%;
        gap: 1rem;
        .title {
            color: $fontColor;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .selectDateContainer {
            display: flex;
            width: 100%;
            gap: 2rem;

            .select-container select {
                width: 144px;
                border: 1px solid $ShadowColor;
                border-radius: 5px;
                background-color: $generalWhiteColor;
                font-size: 14px;
                color: $fontColor;
            }
        }
    }

    .date-group {
        font-weight: 600;
        color: var(--gray-0, $fontColor);
        font-size: 12px;

        input {
            width: 144px;
            padding-left: 2px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f0f0f3;
            font-size: 14px;
            color: #333;
        }
    }

    .reportButton {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        justify-content: center;
        margin-top: 0.6rem;
        width: 100%;
        button {
            outline: none;
            background: $backgroundColor;
            border: none;
            // width: 173px;
            border-radius: 5px;
            padding: 8px;
            color: $generalWhiteColor;
            cursor: pointer;
            font-family: 'inter';
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
        }
    }
}

.contentContainer {
    background-color: $generalWhiteColor;
    padding: 36px;

    .contentTopSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        .selectContainer {
            display: flex;
            padding: 10px;
            gap: 10px;
            font-family: $fontStyle;
            align-items: center;

            label {
                color: $backgroundColor;
            }
            select {
                border: $generalWhiteColor 1px solid;
                padding: 5px;
                border-radius: 3px;
                color: $backgroundColor;
                outline: none;
            }
        }

        .rightSide {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            align-items: center;

            .reportButton {
                cursor: pointer;
                display: flex;
                border-radius: 5px;
                padding: 8px;
                align-content: center;
                justify-content: center;
                gap: 20px;
                background: $backgroundColor;
                color: $generalWhiteColor;
                font-family: 'inter';
                // font-family: '$fontStyle';
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
            }
        }
    }
    .viewButton {
        display: flex;
        justify-content: center;
        border: none;
        padding: 0.5rem;
        width: 80px;
        background-color: $backgroundColor;
        color: $generalWhiteColor;
        font-family: $fontStyle;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        border-radius: 8px;
    }
}
