@import "../../styles/index.scss";

.topNav {
    display: flex;
    justify-content: space-between;

    .timeContainer {
        display: flex;
        gap: 10px;
        margin-right: 140px;
    }
}

//report styles...
.contianier {
    display: flex;
    width: 100%;
    background-color: #fff;
    height: auto;
    padding-left: 58px;
    padding-right: 49px;
    margin-bottom: 40px;

    .wrapper {
        display: flex;
        gap: 50px;
        padding-top: 19px;
        padding-bottom: 19px;

        .reportGroup {
            gap: 40px;
            border-right: 1px black solid;

            .title {
                padding-bottom: 10px;
                color: #0d1740;
                color: #0d1740;
                // font-family: Baloo 2;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .subReportContainer {
                display: flex;
                gap: 41px;
                padding-right: 50px;
            }
        }

        .selectDate {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-right: 2rem;
            border-right: 1px solid black;

            .title {
                padding-bottom: 10px;
                color: #0d1740;
                color: #0d1740;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .selectDateContainer {
                display: flex;
                width: 100%;
                gap: 50px;

                .select-container select {
                    width: 144px;
                    padding-left: 2px;
                    padding-right: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    background-color: #f0f0f3;
                    font-size: 14px;
                    color: #333;
                }
            }
        }

        .date-group {
            font-weight: 600;
            color: var(--gray-0, #252525);
        }

        .reportButton {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
            width: 100%;
            button {
                background: #1c317e;
                border-radius: 5px;
                padding: 10px;
                color: #fff;
                width: 173px;
                cursor: pointer;
                font-family: "Baloo 2";
                font-size: 18px;
                font-style: normal;
                font-weight: 800;
                line-height: 24px;
            }
        }
    }
}

.contentContainer {
    background-color: #fff;
    padding: 36px;

    .contentTopSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        .selectContainer {
            display: flex;
            padding: 10px;
            gap: 10px;
            font-family: "Baloo 2";
            align-items: center;

            label {
                color: #474747;
            }
            select {
                border: #ccc 1px solid;
                padding: 5px;
                border-radius: 3px;
                color: #130019;
                outline: none;
            }
        }

        .rightSide {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            align-items: center;

            .reportButton {
                display: flex;
                padding: 17px;
                align-content: center;
                justify-content: center;
                gap: 20px;
                border-radius: 5px;
                background: #1c317e;
                color: #fff;
                font-family: "Baloo 2";
                font-size: 18px;
                font-style: normal;
                font-weight: 800;
                line-height: 24px;
            }
        }
    }
}
