.table-wrapper {
    margin-top: 20px;

    .header-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding: 14px 43px;
        border-radius: 4px;
        background: #DFE9FF;

        .header-column {
            flex: 1;
            color: var(--grey-1, #343A40);
            font-family: 'Baloo 2';
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.036px;
            text-transform: uppercase;
        }
    }

    .body {
        .body-row {
            display: flex;
            flex-direction: row;
            align-items: top;
            border-radius: 3px;
            border: 1px solid #E6E6E6;
            background: #FFF;
            gap: 8px;
            padding: 24px 43px;
        }

        .body-column {
            flex: 1;
            color: var(--grey-1, #343A40);
            font-family: 'Baloo 2';
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .no-data {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 215px 0;
        }

        .loader-row {
            padding: 20px 43px;
            border: 1px solid #E6E6E6;
        }
    }

    .pagination-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 38px 0 0 39px;
        justify-content: space-between;

        .showing {
            color: var(--grey-2, #6C757D);
            font-family: 'Baloo 2';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.028px;
        }

        .pagination {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            button {
                border: none;
                background-color: transparent;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
                color: var(--black, #080730);
                font-family: 'Baloo 2';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.028px;
                cursor: pointer;

                &:disabled {
                    color: var(--grey-2, #6C757D);
                    cursor: not-allowed;
                }
            }

            .page-numbers {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                .number {
                    padding: 4px 8px;
                    border-radius: 4px;
                    color: var(--grey-1, #343A40);
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.028px;
                    cursor: pointer;

                    &.selected {
                        border-radius: 4px;
                        background: #F5F5FA;
                    }

                    &:hover {
                        border-radius: 4px;
                        background: #F5F5FA;
                    }
                }
            }
        }

        .items-per-page {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;

            .text {
                color: var(--grey-2, #6C757D);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.028px;
            }

            select {
                color: var(--grey-2, #6C757D);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.028px;
                padding-left: 5px;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid #6C757D;
                outline: none;
            }
        }
    }
}