@import '../../styles/index.scss';
.table-wrapper {
    margin-top: 20px;
    width: 100%;

    .table-container {
        width: 100%;
        max-width: 100%;
        overflow-x: auto;

        table.header-and-body {
            overflow-x: scroll;
            border-collapse: collapse;
            min-width: 100%;

            .header-row {
                display: flex;
                width: fit-content;
                min-width: 100%;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                padding: 14px 43px;
                border-radius: 4px;
                background: $ShadowColor;
                flex-wrap: nowrap;

                .header-column {
                    flex: 1;
                    color: var(--grey-1, $fontColor);
                    font-family: $fontStyle;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.036px;
                    text-transform: uppercase;
                    min-width: 95px;
                    text-align: center;
                    user-select: none;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 12px;
                }
            }

            .body {
                max-width: 100%;

                .body-row {
                    display: flex;
                    flex-direction: row;
                    align-items: top;
                    border-radius: 3px;
                    border: 1px solid #e6e6e6;
                    background: #fff;
                    gap: 8px;
                    padding: 24px 43px;
                    min-width: 100%;
                    width: fit-content;
                }

                .body-column {
                    flex: 1;
                    color: var(--grey-1, #343a40);
                    font-family: $fontStyle;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    min-width: 95px;
                    text-align: center;
                }

                .no-data {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding: 215px 0;
                    flex-direction: column;
                    gap: 1rem;
                    font-weight: 600;
                    width: 100%;
                    background-color: red;
                }

                .loader-row {
                    padding: 20px 43px;
                    border: 1px solid #e6e6e6;
                }
            }
        }

        .no-data {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 215px 0;
            flex-direction: column;
            gap: 1rem;
            font-weight: 600;
            width: 100%;
        }
    }

    .pagination-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 38px 0 0 39px;
        justify-content: space-between;

        .showing {
            color: var(--grey-2, #6c757d);
            font-family: $fontStyle;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.028px;
        }

        .pagination {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            button {
                border: none;
                background-color: transparent;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
                color: var(--black, #080730);
                font-family: $fontStyle;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.028px;
                cursor: pointer;

                &:disabled {
                    color: var(--grey-2, #6c757d);
                    cursor: not-allowed;
                }
            }

            .page-numbers {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                .number {
                    padding: 4px 8px;
                    border-radius: 4px;
                    color: var(--grey-1, #343a40);
                    font-family: $fontStyle;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.028px;
                    cursor: pointer;

                    &.selected {
                        border-radius: 4px;
                        background: #f5f5fa;
                    }

                    &:hover {
                        border-radius: 4px;
                        background: #f5f5fa;
                    }
                }
            }
        }

        .items-per-page {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;

            .text {
                color: var(--grey-2, #6c757d);
                font-family: $fontStyle;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.028px;
            }

            select {
                color: var(--grey-2, #6c757d);
                font-family: $fontStyle;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.028px;
                padding-left: 5px;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid #6c757d;
                outline: none;
            }
        }
    }
}
