.navbar {
    background-color: #fff;
    color: #0d1740;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }


  .main {
    // flex: 1;
    overflow-y: auto; /* Add scrolling if content exceeds height */
    // padding: 1.3rem 2rem 0 2.0625rem;
    padding: 1rem;
    background: var(--f3f3f4, #F3F3F4);
  }

  
  @media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 1200px) {
    
}
