@import "../../styles/index.scss";

.sidebar {
    height: 100%;
    background-color: $backgroundColor;
    padding: 112px 0px 0 0px;
    transition: all 0.3s;
    position: relative;
}

.hamburger {
    position: absolute;
    top: 1.8125rem;
    left: 1.5625rem;
    cursor: pointer;
}

.sidebar_settings {
    margin-top: 100px;
}

.side-nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $generalWhiteColor;
    transition: 0.3s linear;
    margin-top: .3125rem;
    padding: .75rem .9375rem;
    font-family: "Inter";
    font-size: 1rem;
    margin-right: .75rem;
    margin-left: .75rem;
    font-family: "Baloo 2";

    svg {
        font-size: 23px;
    }

    p {
        margin-left: .625rem;
        font-size: .875rem;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &:hover {
        transform: scale(105%);
        // padding-left: 1.875rem;
    }

    &.active {
        background-color: $generalWhiteColor;
        color: $fontColor;
        border-radius: 6px;
        font-family: "Baloo 2";
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.8125rem;
        letter-spacing: 0em;
        text-align: left;
    }
}
