.sidebar {
  width: 13.75rem;
  height: 100%;
  background-color: #0d1740;
  padding: 7rem 0rem 0 0rem;
}

.sidebar_settings {
  margin-top: 14.5625rem;
}

.side-nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  transition: 0.3s linear;
  margin-top: 5px;
  padding: 12px 15px;
  font-family: "Inter";
  font-size: 16px;
  margin-left: 12px;

  svg {
    font-size: 23px;
  }

  p {
    margin-left: 10px;
    font-size: 14px;
  }

  &:hover {
    transform: scale(105%);
  }

  &.active {
    background-color: #fff;
    border-radius: 0.375rem 0px 0px 0.375rem;
    color: #0d1740;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}
